.gallery {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    width: 1128px;
    margin: auto;
}

.gallery-link {
    cursor: pointer; 
    display: block;
    width: 360px;
    height: 200px;
}

.gallery-item {
    display: block;
}

.gallery-image {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

.gallery-image:hover {
    transform: scale(1.05);
    transform-origin: center;
}